<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{aadba814-1388-4604-afb4-ef6e5050d282}</AddInID><Description>Add in de pruebas</Description><Version>0.1</Version><Image>Images\plus.png</Image><Author>Fernando Pineda</Author><Company>UPRA</Company><Date>02/09/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Upra_add_ins_addin.py" namespace="Upra_add_ins_addin"><ArcMap>
    <Commands>
        <Tool caption="Tool" category="Python Addin" class="AptiTool" id="Upra_add_ins_addin.tool" image="Images\plus_min_1.png" message="Herramienta de consulta de variables" tip="apptool"><Help heading="Permite la consulta de las variables que componen un criterio.">Ninguno</Help></Tool>
        <ComboBox caption="Variables" category="Python Addin" class="Listvars" id="Upra_add_ins_addin.Listvars" itemSizeString="WWWWWW" message="En este menu se enuncian las variables" rows="4" sizeString="WWWWWW" tip="Lista variables"><Help heading="Variables">Lista de Variables</Help></ComboBox>
        </Commands>
    <Extensions>
        <Extension autoLoad="true" category="Python Addin" class="UpdateLayers" description="update List of layers" id="Upra_add_ins_addin.UpdateLayers" name="UpdateLayers" productName="UpdateLayers" showInExtensionDialog="true" />
        </Extensions>
    <Toolbars>
        <Toolbar caption="Aptitool" category="Python Addin" id="Upra_add_ins_addin.toolbar" showInitially="true"><Items><Tool refID="Upra_add_ins_addin.tool" /><ComboBox refID="Upra_add_ins_addin.Listvars" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>